@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: "lato", sans-serif;
}
.background{
  height: 400px;
  background-color: #8a8e90;
  position: relative;
  margin-bottom: 5rem; 
}
.background .image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  overflow: hidden; 
}
.background img {
  width: 100%;
}
.content {
  max-width: 600px;
  padding: 1rem;
  margin: auto;
  text-align: center;
}
.title {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 1rem;
  color:#7a7e82;
}
.title span {
  font-weight: 300;
}
.subtitle {
  margin-bottom: 2rem;
  color: #7a7e82;
}
.read__more {
  letter-spacing: 1px;
  font-weight: 600;
  color:#1f2937;
}
@media screen and (width < 500px) {
  .background {
    height: 300px;
    margin-bottom: 3rem;
  }

  .background .image {
    height: 300px;
    width: 300px;
  }

  .title {
    font-size: 2.5rem;
  }
} 
@media screen and (width < 300px) {
  .background {
    height: 150px;
    margin-bottom: 1rem;
  }

  .background .image {
    height: 150px;
    width: 150px;
  }

  .title {
    font-size: 1.5rem;
  }
} 
