*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111315;
}
nav{
    margin: auto;
    max-width: 1300px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.nav-logo{
    max-width: 150px;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.links a{
    text-decoration: none;
    color:#ffffff;
    padding-bottom: 0.75rem;
    position: relative;
}
.links a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #f9ac54;
    transition: 0.3s;
}
.links a:hover::after{
    width: 100%;
}
.btn{
    padding: 0.75rem 1.75rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    background-color: #f9ac54;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s; 
}
.btn:hover{
    background-color: #d79447;
}
.bg-blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #cf8633;
    z-index: -1;

}
.section-container{
    max-width: 1300px;
    margin: auto;
    box-sizing: border-box;
}
.section-header{
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
.section-subheader{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #dad5db;
}
.header-container{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
.header-container::before{
    content: "FITNESS";
    position: absolute;
    bottom: 0.25rem;
    right: 20rem;
    font-size: 10rem;
    font-weight: 700;
    line-height: 7rem;
    color: #ffffff;
    opacity: 0.05;
    z-index: -1;
}
.header-blur{
    bottom: 5rem;
    right: 0;
}
.header-content h4{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color:#f9ac54;
}
.header-content h1{
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    color: #ffffff;
}
.header-content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px #d79447 ;
}
.header-content p{
    margin-bottom: 2rem;
    color: #dad5db;
}
.header-img{
    position: relative;
    display: flex;
    
}
.header-img::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    color: #d79447;
    opacity: 0.1;
    z-index: -1;
}
.header-img img{
    max-width: 350px;
    margin: auto;
}
.explore-container{
    margin-top: 5rem;
}
.explore-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.explore-nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.explore-nav span{
    padding: 0 6px;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 100%;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: 0.3s;
}
.explore-header span:hover{
    color: #f9ac54;
    border-color: #f9ac54;
}
.explore-grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 2rem;
}
.explore-card{
    padding: 1rem;
    background-color:#1f2125;
    border: 2px solid transparent;
    border-radius: 10px;
    transition:0.3s;
}
.explore-card:hover{
    background-color: #35373b;
    border-color: #cf8633;
}
.explore-card span{
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 1.75rem;
    background-color: #d79447;
    border-radius: 5px;
}
.explore-card h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}
.explore-card p{
    margin-bottom: 1rem;
    color:#d1d5db ;
}
.explore-card a{
    color: #ffffff;
    transition: 0.3s;
    text-decoration: none;
    
}
.explore-card a:hover{
    color: #d79447;
}
.explore-card i{
    padding-left: 5px;
    font-size: 80%;
}
 .class-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    
} 
.class-img{
    position: relative;
    margin-top: 8rem;
    
}
.class-img .img1{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    border-radius: 10px;
}
.class-img .img2{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 300px;
    border-radius: 10px;
}
.class-content{
    padding: 10rem 0;
}
.class-content .section-header{
    text-align: left;
    max-width: 400px;
}
.class-content p{
    margin-bottom: 4rem;
    color: #d1d5db;
}  
.join-container{
    margin-top: 6rem;
}
.join-img{
    margin-top: 4rem;
    position: relative;
} 
.join-img img{
    width: 100%;
    max-width: 1300px;
    border-radius: 10px;
    display: flex;

}
.join-grid{
    position: absolute;
    bottom: -5rem;
    width: calc(100% - 4rem);
    padding: 2rem;
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: #1f2125;
    border-radius: 10px;

}
.join-card{
    flex:1 1 250px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.join-card span{
    padding: 5px 12px;
    font-size: 1.75rem;
    color: #ffffff;
    background-color: #d79447;
    border-radius: 5px;
}
.join-card h4{
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}
.join-card p{
    color: #dad5db;
}
.price-container{
    margin-top: 10rem;
}
.price-grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 2rem;
}
.price-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #1f2125;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}
.price-card:hover{
    background-color: #35373b;
    border-color:#f9ac54
}
.price-card-content{
    flex: 1;
    margin-bottom: 2rem;
}
.price-card h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
}
.price-card h3 {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}
.price-card p {
    margin-bottom: 0.75rem;
    color: #ffffff;
}
.price-card p i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: #ffffff;
}
.price-btn {
    color: #f9ac54;
    background-color: transparent;
    border: 2px solid #f9ac54;
}
.price-btn:hover {
    color:#ffffff;
    background-color: #f9ac54;
}
.review {
    background-color: #1f2125;
    border-radius: 10px;
}
.review-container {
    margin-top: 5rem;
    padding: 3rem 2rem;
    display: flex;
    gap: 2rem;
}
.review-container span {
    font-size: 6rem;
    color: #f9ac54;
    opacity: 0.5;
}
.review-content {
    flex: 1;
}
.review-content h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffffff;
}
.review-content p {
    max-width: 800px;
    margin-bottom: 2rem;
    color:#d1d5db;
}
.review-rating span {
    font-size: 1.5rem;
    color:#f9ac54;
}
.review-footer {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.review-member {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.review-member img {
    max-width: 60px;
    border-radius: 100%;
}
.review-member-details h4 {
    margin-bottom: 0;
}
.review-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.review-nav span {
    font-size: 2rem;
    color: #f9ac54;
    cursor: pointer;
}
.footer-container {
    margin-top: 5rem;
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}
.footer-blur {
    bottom: 0;
    right: 0;
}
.footer-logo {
    max-width: 150px;
    margin-bottom: 2rem;
}
.footer-col p {
    margin-bottom: 2rem;
    color: #d1d5db;
}
.footer-socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-socials a {
    padding: 5px 10px;
    font-size: 1.25rem;
    color: #f9ac54;
    border: 1px solid #f9ac54;
    border-radius: 100%;
    transition: 0.3s;
}
.footer-socials a:hover {
    color: #ffffff;
    background-color: #f9ac54;
}
.footer-col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}
.footer-col > a {
    display: block;
    margin-bottom: 1rem;
    color: #d1d5db;
    transition: 0.3s;
    text-decoration: none;
}
.footer-col > a:hover {
    color: #f9ac54;
}
.footer-bar {
    max-width: 1300px;
    margin: auto;
    padding: 4rem 0 2rem 0;
    font-size: 0.8rem;
    color: #ffffff;
}
@media (width < 900px) {
    .nav-links {
      display: none;
    }
   .header-container {
      grid-template-columns: repeat(1, 1fr);
    }
   .header-image {
      grid-area: 1/1/2/2;
    }
   .explore-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
   .class-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .class-container .class-img{
        display: none;
    }
    .class-image {
      min-height: 500px;
    }
   .price-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .review-container {
      gap: 2rem;
    }
   .footer-container {
      grid-template-columns: 1fr 200px;
    }
}
@media (width < 600px) {
    .explore-header {
      flex-direction: column;
    }
    .explore-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .join-container {
      margin-bottom: 15rem;
    }
   .join-grid {
      width: 100%;
      margin: 0;
      bottom: -20rem;
    }
   .price-grid {
      grid-template-columns: repeat(1, 1fr);
    }
   .review-container {
      flex-direction: column;
      gap: 0;
    }
   .review-footer {
      flex-direction: column;
    }
   .footer-container {
      grid-template-columns: 1fr 150px;
    }
   .footer-bar {
      text-align: center;
    }
}