@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
 }
body{
    font-family: "Poppins", sans-serif;
}
 .container{
    height: 100vh;
    background-color: #d6d6d6;
    position: relative;
    isolation: isolate;
}
.profile-card{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 400px;
    border-radius: 1rem;
    background-color: #ffffff;
    text-align: center;
    transition: 0.5s;
    
}
.profile-card img{
    width: 100px;
}
.profile-card .tag{
    margin-bottom: 1rem;
}
.profile-card .tag span{
    padding: 0.25rem 1.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #22215b;
    background-color: #d6d6d6;
}
.profile-card .name {
    font-size: 1.25rem;
    font-weight: 600;
    color: #22215b
}
  
.profile-card .designation {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #22215b;
}
  
.profile-card .about {
    margin: 0 2rem;
    font-size: 0.8rem;
    color: #7c7c8f;
}
  
.profile-card .icons {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.icons span {
    font-size: 1.25rem;
    color: #22215b;
    cursor: pointer;
}
  
.btn {
    display: flex;
    gap: 1rem;
}
  
.btn button {
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #22215b;
    border-radius: 1rem;
    cursor: pointer;
}
  
.btn .msg {
    background-color:#ffffff;
}
  
.btn .connect {
    color: #ffffff;
    background-color: #22215b;
}  
  
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 400px;
    border-radius: 1rem;
    background-color: #ffffff;
    transition: 0.5s;
    z-index: -1;
}
  
.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.header img {
    width: 80px;
} 
  
.header .col {
    flex: 1;
}
  
.header p {
    font-size: 0.8rem;
    color: #22215b;
}
  
.header h5 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #22215b;
}
  
.card .name {
    font-size: 1rem;
    font-weight: 600;
    color: #22215b;
}
  
.card .designation {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #22215b;
}
  
.card h2 {
    font-size: 0.8rem;
    font-weight: 600;
    color: #22215b;
}
  
.card .about {
    font-size: 0.8rem;
    color: #22215b;
}
  
 .profile-card:hover { 
    transform: translate(-50%, -77%);
}
  
.profile-card:hover ~ .card {
    transform: translate(-50%, 50%);
} 
